<nav style="background:#007acc; padding:1rem; color:white;">
  <a routerLink="/" routerLinkActive="active" style="margin-right:1rem; color:white; text-decoration:none;">Inicio</a>
  <a routerLink="/productos" routerLinkActive="active" style="margin-right:1rem; color:white; text-decoration:none;">Productos</a>
  <a routerLink="/carrito" routerLinkActive="active" style="margin-right:1rem; color:white; text-decoration:none;">Carrito</a>
  <a routerLink="/pago" routerLinkActive="active" style="color:white; text-decoration:none;">Pago</a>
  <a routerLink="/registro" routerLinkActive="active" style="color:white; text-decoration:none;">Registrarse</a>
  <a routerLink="/login" routerLinkActive="active" style="color:white; text-decoration:none;">Login</a>
</nav>
