<h2>Carrito de compras</h2>

<div *ngIf="carrito.length === 0">
  No hay productos en el carrito.
</div>

<ul *ngIf="carrito.length > 0">
  <li *ngFor="let producto of carrito; let i = index">
    <h3>{{ producto.nombre }} - ${{ producto.precio }}</h3>
    <p>{{ producto.descripcion }}</p>
    <p>Cantidad: {{ producto.cantidad }}</p>
    <button (click)="disminuirCantidad(producto.id)">-</button>
    <button (click)="aumentarCantidad(producto)">+</button>
    <button (click)="eliminarProducto(producto.id)">Eliminar</button>
    <button class="btn btn-success" [routerLink]="['/pago']">
  Ir a Pagar
</button>

  </li>
</ul>

<div *ngIf="carrito.length > 0">
  <h3>Total: ${{ total }}</h3>
  <button (click)="limpiarCarrito()">Vaciar carrito</button>
</div>
